	
h1{
font-size: 50px;
text-align: center;
font-family: "Jazz LET",fantasy ;
font-weight: bold;
}

#main-toolbar {
display: flex;
align-items: left ;
justify-content: space-between;
width: 200px;
background-color: #555555;  
}

#about_speech{
font-size: 30px;
font-family: "Times New Roman ",times, serif;
text-align: center;
width:100%;
	
}